/* Medium layouts9(1280)----------- */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
	.area{
		width:970px;
	}
	.welcome-menu{
	width: 15%;
}
}

/* Tablet- 768px ----------- */
@media only screen and (min-width : 768px) and (max-width : 991px) {
 	.area{
		width:768px;
	}
	.welcome-menu{
	   width: 20%;
    }
	.welcome-content{
		flex-basis: 80%;
	}
	.single-service {
  flex-basis: 30%;
   border: 1px solid black;
  

}
}

/* Mobile Layouts ----------- */
@media only screen and (max-width : 767px) {
	.area{
		width:320px;
	}
	.menu ul{
 
	flex-direction: column;
	 
   }
   .header{
	 
	flex-direction: column;
	  
   }
	.welcome-menu{
		width: 100%;
	}
	.welcome-content{
		flex-basis: 100%;
	} 
	.welcome{
		margin-bottom: 20px;
	}
	.single-welcome h4{
			font-size: 16px;
		}
	.menu ul li:hover{
		 background-color: blue;
		 color:white;
		  display: block;
 
    }
   
		.title h4 {
		  
		  font-size: 20px;
		}
    .services-box {
		  
		  flex-direction: column;
		  
		}
		.single-service {
		  width: 100%;
		  padding-bottom: 10px;
        }
        .single-service h4 {
		  font-size: 16px;
        }
	   .about-left {
			  flex-basis: 60%;
			}
			.about-menu {
			  flex-basis: 25%;
			}
        .about-left h4, .about-menu h4{
		  font-size: 15px;
		  padding-bottom: 10px;
		}
		
			.single-footer:nth-child(1),
			.single-footer:nth-child(2),
			.single-footer:nth-child(3) {
				 
				  flex-basis: 100%;
				
		   }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 991px) {
/* Styles */
}